@font-face {
    font-family: kabondregular;
    src: url('../fonts/kabond_font-webfont.woff2') format('woff2'),
         url('../fonts/kabond_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
background: linear-gradient(180deg, rgba(134, 248, 255, 0.35) 0%, rgba(173, 0, 255, 0.29) 100%);
}

p{
    font-family: kabondregular, helvetica;
    font-size: 2rem;
    color:#7000FF;
    padding:6rem 8rem;

}

.link{
    margin:3rem;
    padding:1rem;
    font-family: kabondregular, helvetica;
    font-size: 5rem;
    background-color: #00F0FF;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.November{

    font-family: kabondregular, helvetica;
    font-size: 1.5rem;
    text-decoration:underline ;
    color:#00F0FF;
    display:flex;
    justify-content: center;
    animation:lightSpeedOutRight; 
    animation-duration: 2s;
}